<!DOCTYPE html>
<html>
  <head>
    <title>Employee List</title>
  </head>
  <body>
    <h1>Employee List</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
      </tr>
      <% for (let employee of employees) { %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= employee.name %></td>
        <td><%= employee.department %></td>
      </tr>
      <% } %>
    </table>
    <h2>Add a New Employee</h2>
    <form action="/employees" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" /><br />
      <label for="department">Department:</label>
      <input type="text" id="department" name="department" /><br />
      <input type="submit" value="Add Employee" />
    </form>
  </body>
</html>
